.header {
  padding: 0 0 0 0;
  text-align: left;
}

.headerImg {
  width: auto;
  height: 60px;
  padding-right: 25px;
}

.buttonLogin {
  width: auto;
  margin-left: auto;
  margin-right: 0px;
  margin-left: auto;
}

.btn {
  width: auto;
}

.btnLabel {
  font-weight: 600;
  margin-right: 8px;
}
